@charset "UTF-8";
/*&#x1F91E;
&#x1F340
*/
 * {
    font-family: arial;
}

 body{
     background-image: linear-gradient(to bottom, #4E74A6, #66A5F2);
    }

    header{
        background-color: #F7941D;
        padding: 20px;
        
    }
   
    header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 0px black;
    margin-bottom: 20px;     
    }

    header > h2{
        text-align: center;
    }

  main{text-align: center;
        background-color: white;
        box-shadow: 5px 5px 15px #271f74be;
        min-width: 300px;
        max-width: 900;
        padding: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
     } 
   
   main>h2{
    background-color: #F7941D;
    border-radius: 10px;
   }
    main > h3{

        font-size: 1.3em;
    }  
    
         
